:root {
	--Cyan: hsl(180, 66%, 49%);
	--Dark-Violet: hsl(257, 27%, 26%);
	--Red: hsl(0, 87%, 67%);
	--Gray: hsl(0, 0%, 75%);
	--Grayish-Violet: hsl(257, 7%, 63%);
	--Very-Dark-Blue: hsl(255, 11%, 22%);
	--Very-Dark-Violet: hsl(260, 8%, 14%);
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: "Poppins", sans-serif;
}

body {
	text-align: center;
	background-color: white;
}

/* navbar */
.navbar-toggler {
	border: 0;
}

.navbar-toggler:focus {
	box-shadow: none;
}

.navbar {
	padding-top: 2.5rem;
}

header nav .container-fluid {
	padding: 0 24px;
}

.nav-modal {
	top: 15rem;
	background-color: var(--Dark-Violet);
	border-radius: 10px;
	width: 90%;
	padding: 25px 0;
	position: absolute;
}

.nav-item {
	width: 100%;
	text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover {
	color: var(--Cyan);
}

.navbar-light .navbar-nav .nav-link {
	color: white;
	font-size: 18px;
	font-weight: bold;
	padding: 15px 0;
	width: 90%;
	margin: 0 auto;
}

.resources {
	margin-bottom: 1rem;
	position: relative;
}

.resources:after {
	position: absolute;
	content: "";
	border-bottom: 1px solid white;
	opacity: 20%;
	width: 90%;
	bottom: -10px;
	transform: translate(-50%, -50%);
}

.sign-up {
	background-color: var(--Cyan);
	color: white;
	border-radius: 50px;
}

.navbar-light .navbar-nav .nav-link.sign-up:hover {
	filter: brightness(110%);
	color: white;
}
/* /navbar */

/* section-1 */

.header-image {
	width: 100%;
	height: 80vw;
	background-image: url(../images/illustration-working.svg);
	background-repeat: no-repeat;
	background-size: auto 100%;
	background-position: left 24px top 0;
	margin-bottom: 35px;
}

.header-image img {
	width: 100%;
}

.h1,
h1 {
	font-size: calc(35px + 1.5vw);
	font-weight: bold;
	margin-bottom: 20px;
}

section {
	margin-bottom: 80px;
}

.section-1 p {
	font-size: 18px;
	color: var(--Grayish-Violet);
	padding: 0 1rem;
	margin-bottom: 2.5rem;
}

.section-1 a {
	background-color: var(--Cyan);
	border-radius: 50px;
	color: white;
	text-decoration: none;
	padding: 10px 40px;
	font-weight: bold;
	font-size: 20px;
}

/* /section-1 */

/* section-2 */
.section-2 {
	padding: 0 24px;
	position: relative;
	margin: 0;
	padding-bottom: 80px;
}

.section-2::before {
	content: "";
	position: absolute;
	inset: 80px 0px 0px;
	background-color: #eff1f7;
	z-index: -1;
}

form {
	padding: 24px;
	background-color: var(--Dark-Violet);
	background-image: url(../images/bg-shorten-mobile.svg);
	background-repeat: no-repeat;
	background-position: right 0 bottom 35px;
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

form input,
form button {
	border-radius: 5px;
	border: 0;
}

form input {
	padding: 10px 16px;
	width: 100%;
}

form button {
	background-color: var(--Cyan);
	color: white;
	padding: 9px 0;
	font-weight: bold;
	font-size: 18px;
}

form span {
	display: none;
}

form.error {
	gap: 2rem;
}

form.error span {
	display: block;
	font-size: 12px;
	margin-bottom: 9px;
	color: var(--Red);
	text-align: left;
	margin-top: -10px;
	font-style: italic;
	bottom: -2rem;
}

form.error input {
	border: 2px solid var(--Red);
}

form.error input::placeholder {
	color: var(--Red);
}
/* /section-2 */

/* section=3 */
.section-3 {
	padding: 0 24px;
	color: var(--Grayish-Violet);
	background-color: #eff1f7;
	margin-bottom: 0;
	padding-bottom: 80px;
}

.section-3 h2 {
	font-weight: bold;
	margin-bottom: 1.7rem;
}

h2,
h3 {
	color: var(--Very-Dark-Violet);
}

.boxes {
	margin-top: 92px;
	flex-direction: column;
	gap: 5.5rem;
	position: relative;
	z-index: 1;
}

.boxes::before {
	content: "";
	position: absolute;
	width: 8px;
	height: 100%;
	background-color: var(--Cyan);
	z-index: -1;
	top: 0;
	left: 50%;
	transform: translate(-50%, 0);
}

.box {
	background-color: white;
	border-radius: 5px;
	padding: 0 28px 40px;
}

.box-icon {
	margin: -40px auto 34px;
	background-color: var(--Dark-Violet);
	width: 88px;
	height: 88px;
	border-radius: 50%;
	padding-top: 24px;
}

h3 {
	margin-bottom: 1.2rem;
	font-weight: bolder;
}

/* /section-3 */

/* footer */
footer .top {
	background-color: var(--Dark-Violet);
	padding: 100px 0;
	background-image: url(../images/bg-boost-mobile.svg);
	background-repeat: no-repeat;
	background-position: right 0 top 0;
}

footer h2 {
	color: white;
	font-weight: bold;
	font-size: 28px;
	margin-bottom: 37px;
}

footer .top a {
	background-color: var(--Cyan);
	text-decoration: none;
	color: white;
	border-radius: 28px;
	padding: 14px 40px;
	font-weight: bold;
	font-size: 20px;
}

.bottom {
	background-color: var(--Very-Dark-Violet);
	flex-direction: column;
	gap: 50px;
	align-items: center;
	padding: 55px 0;
}

.bottom .brand img {
	filter: brightness(100);
}

.bottom a {
	color: var(--Gray);
	text-decoration: none;
}

h4 {
	color: white;
	margin-bottom: 23px;
}

.bottom nav {
	flex-direction: column;
	gap: 40px;
}

.bottom li {
	list-style: none;
	margin-bottom: 10px;
	color: var(--Gray);
}

.bottom ul {
	margin: 0;
	padding: 0;
}

.bottom .icons {
	gap: 24px;
}

.bottom .icons a {
	filter: invert(100%) sepia(0%) saturate(2%) hue-rotate(212deg)
		brightness(110%) contrast(101%);
}

.bottom .icons a:hover {
	filter: invert(74%) sepia(90%) saturate(394%) hue-rotate(122deg)
		brightness(92%) contrast(87%);
}

.bottom .icons img {
	filter: brightness(0%);
}

.attribution {
	font-size: 11px;
	text-align: center;
	padding: 5px;
}

.my-btn:hover {
	filter: brightness(115%);
	color: rgb(255, 255, 255);
}

.attribution a {
	color: hsl(228, 45%, 44%);
}
/* /footer */
